<div class="details">
  <div class="recent-order">
    <div class="card-header">
      <h2>Recent order</h2>
      <a href="#" class="link"> view all </a>
    </div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Product </td>
          <td>Payment</td>
          <td>Status</td>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td>Refrigerator</td>
          <td>$1200 </td>
          <td>Paid</td>
          <td>
            <span class="status processing"> Processing </span>
          </td>
        </tr>

        <tr>
          <td>Refrigerator</td>
          <td>$1200 </td>
          <td>Paid</td>
          <td>
            <span class="status returned"> Returned </span>
          </td>
        </tr>

        <tr>
          <td>Refrigerator</td>
          <td>$1200 </td>
          <td>Paid</td>
          <td>
            <span class="status done"> Done </span>
          </td>
        </tr>

        <tr>
          <td>Refrigerator</td>
          <td>$1200 </td>
          <td>Paid</td>
          <td>
            <span class="status done"> Done </span>
          </td>
        </tr>

        <tr>
          <td>Refrigerator</td>
          <td>$1200 </td>
          <td>Paid</td>
          <td>
            <span class="status returned"> Returned </span>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
